{{ header }}

(load "test-util.ss")

(define test-cases
  `(
{%- for case in cases %}
{%- if case["property"] == "append" %}
    (test-success "{{ loop.index }}. {{ case["property"] }}: {{ case["description"] }}"
        equal? my-append '({{ case["input"]["list1"] | format_list }} {{ case["input"]["list2"] | format_list }})
        '{{ case["expected"] | format_list }})
{%- elif case["property"] == "concat" %}
    (test-success "{{ loop.index }}. {{ case["property"] }}: {{ case["description"] }}"
        equal? my-concatenate '({{ case["input"]["lists"] | format_list }})
        '{{ case["expected"] | format_list }})
{%- elif case["property"] == "length" %}
    (test-success "{{ loop.index }}. {{ case["property"] }}: {{ case["description"] }}"
        = my-length '({{ case["input"]["list"] | format_list }})
        {{ case["expected"] }})
{%- elif case["property"] == "reverse" %}
    (test-success "{{ loop.index }}. {{ case["property"] }}: {{ case["description"] }}"
        equal? my-reverse '({{ case["input"]["list"] | format_list }})
        '{{ case["expected"] | format_list }})
{#- TODO: filter, map, foldl, foldr need case["input"]["function"] translated
    from pseudocode into Scheme lambdas (and foldl/foldr need case["input"]["initial"]).
{%- elif case["property"] == "filter" %}
{%- elif case["property"] == "map" %}
{%- elif case["property"] == "foldl" %}
{%- elif case["property"] == "foldr" %}
#}
{%- endif %}
{%- endfor %}
    ))

(run-with-cli "{{ name }}.scm" (list test-cases))
