{{ header }}

(load "test-util.ss")

(define test-cases
  `(
{%- for case in cases %}
    (test-success "{{ loop.index }}. {{ case["description"] }}"
        (lambda (xs ys)
            (equal? (list-sort string<? xs) (list-sort string<? ys)))
        anagram '("{{ case["input"]["subject"] }}" {{ case["input"]["candidates"] | format_list | replace("'", '"') }}) 
        `{{ case["expected"] | format_list | replace("'", '"') }})
{%- endfor %}
    ))

(run-with-cli "{{ name }}.scm" (list test-cases))
