name: scheme / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Install project dependencies
        run: |
          sudo apt-get update
          sudo apt-get install guile-3.0 chezscheme

      - name: Run exercism/scheme ci (runs tests) for all exercises
        run: make ci
