name: scheme / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install project dependencies
        run: |
          sudo apt-get update
          sudo apt-get install guile-2.2 chezscheme

      - name: Run exercism/scheme ci (runs tests) for all exercises
        run: make ci
